* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#table {
  display: flex;
  flex-direction: column;
}
#head-txt {
  display: flex;
  align-items: center;
  margin: 20px 20px 10px 20px;
  padding: 5px;
  > p {
    font-size: 1.5rem;
    margin: 8px;
  }
}
#table-container-main {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 0.7rem;
  background-color: white;
}
#table-sub-container {
  overflow-x: auto;
  max-width: 100%;
}
.table {
  font-size: 1.5rem;
  min-width: 100%;
  white-space: nowrap;
  > thead {
    height: 8rem;
    width: 5rem;
  }
  > tbody tr {
    height: 7rem;
    width: 9rem;
  }
}

.row-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}
.blue-btn {
  height: 4rem;
  width: 8rem;
  font: 1rem;
  align-items: center;
  padding: 0.6rem;
  background-color: rgb(19, 103, 209);
  color: white;
  border: none;
  border-radius: 0.5rem;
}

.row-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px;
}
#Entries {
  display: flex;
  align-items: center;
}
#Entries p {
  font-size: 1.4rem;
  margin: 0 4px 0 4px;
}
#Entries select {
  width: 8rem;
  height: 3rem;
}
#export-btns {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}
#export-btns button {
  width: 9rem;
  height: 3rem;
  border: 0.1rem solid grey;
  border-radius: 0.3rem;
}
#export-btns button:hover {
  background-color: rgb(208, 206, 206);
}
#search {
  width: 15rem;
  height: 3rem;
}
.actions-menu {
  display: none;
  position: absolute;
  z-index: 1;
  align-items: center;
  text-decoration: none;
  background-color: rgb(208, 206, 206);
  list-style: none;
}
.action-btn {
  border: none;
  background-color: rgb(77, 203, 226);
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 0.3rem;
  color: white;
}
